.display {
  padding: 20px;
}

.display__title {
  margin-bottom: 20px;
}

.display__letter {
  font-size: 36px;
  text-shadow: 0px 0px 20px red;
  margin-bottom: 20px;
}

.display__description {
  font-size: 14px;
}
