<form autocomplete="off" data-form class="form">
  <textarea
    data-textarea
    name="textarea"
    class="form__textarea"
    placeholder="Write your text"
  ></textarea>
  <ul class="form__buttons-list">
    <li>
      <button type="submit" data-submit-form class="form__button">
        Find unique
      </button>
    </li>
    <li>
      <button
        type="button"
        data-reset-form
        class="form__button form__button--reset"
      >
        Reset
      </button>
    </li>
  </ul>
</form>
